aulas 2023/BCC/EDI (CCB0714)/python/estacionamento/
aulas 2023/BCC/EDI (CCB0714)/python/fila/model/__pycache__
aulas 2023/BCC/EDI (CCB0714)/python/lista_dupla/model/__pycache__
aulas 2023/BCC/EDI (CCB0714)/python/venv